.container {
    background-color: gray;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.box {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.box1 {
    background-color: aqua;
    padding: 5px;
}

.box2 {
    background-color: chartreuse;
    margin: 0 30px;
}

.box3 {
    background-color: crimson;
}

.box4 {
    background-color: blueviolet;
    text-align: center;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}