.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    border: 1px solid red;



}

.container div {}


.box1 {
    background-color: aqua;
    flex: 1 1 100px;
}

.box2 {
    background-color: orange;
    flex: 1 1 100px;
}

.box3 {
    background-color: crimson;
    flex: 3 1 100px;
}

.box4 {
    background-color: blueviolet;
    flex: 1 0 100px;
}