div {
    background-color: royalblue;
    width: 50px;
    height: 100px;
}

p {
    background-color: chocolate;
}

b {
    background-color: deeppink;

    width: 500px;
    height: 200px;
    display: blok;
}

span {
    background-color: darksalmon;
}